<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<form name="form" [formGroup]="updateEmployeeForm" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>Update Employee</h1>
  <mat-form-field class="full-width">
    <mat-label>Name</mat-label>
    <input type="text" matInput formControlName="name" required />
    <mat-error *ngIf="updateEmployeeForm.controls.name.errors ">
      <mat-error *ngIf="updateEmployeeForm.controls.name.errors.required">Campo obrigatório</mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Position</mat-label>
    <input type="text" matInput formControlName="position" required />
    <mat-error *ngIf="updateEmployeeForm.controls.position.errors ">
      <mat-error *ngIf="updateEmployeeForm.controls.position.errors.required">Campo obrigatório</mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Office</mat-label>
    <input type="text" matInput formControlName="office" required />
    <mat-error *ngIf="updateEmployeeForm.controls.office.errors ">
      <mat-error *ngIf="updateEmployeeForm.controls.office.errors.required">Campo obrigatório</mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Salary</mat-label>
    <input type="number" matInput formControlName="salary" required />
    <mat-error *ngIf="updateEmployeeForm.controls.salary.errors ">
      <mat-error *ngIf="updateEmployeeForm.controls.salary.errors.required">Campo obrigatório</mat-error>
    </mat-error>
  </mat-form-field>
  <div mat-dialog-actions>
    <button type="button" mat-button>Cancel</button>
    <button type="submit" mat-button color="primary" [disabled]="updateEmployeeForm.invalid">Update</button>
  </div>
</form>